/crypto-config/ordererOrganizations
/crypto-config/peerOrganizations
/channel-artifacts/*.block
/channel-artifacts/*.tx
/channel-artifacts/*.json
/channel-artifacts/*.pb
/application/connection-org*.json
/application/connection-org*.yaml
